<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1037407465463-vgnu73m03rkkj8ivker0vrh7ckoc0ni1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1037407465463-vgnu73m03rkkj8ivker0vrh7ckoc0ni1</string>
	<key>API_KEY</key>
	<string>AIzaSyCBF7sQcN1JnNF3e0LcQ4SiC4jNbIFCWIk</string>
	<key>GCM_SENDER_ID</key>
	<string>1037407465463</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dbtapp</string>
	<key>PROJECT_ID</key>
	<string>dbtapp-b388a</string>
	<key>STORAGE_BUCKET</key>
	<string>dbtapp-b388a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1037407465463:ios:7f31d40aa0874a8c6308f2</string>
	<key>DATABASE_URL</key>
	<string>https://dbtapp-b388a-default-rtdb.firebaseio.com</string>
</dict>
</plist>